.DS_Store
.env
.env.*
__pycache__/
**/__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/
.idea/
.vscode/
logs/
tmp/
temp/
data/raw/
data/processed/
*.duckdb
*.db
*.sqlite
*.sql
*.parquet
*.zip
*.tar
*.tar.gz
*.7z
*.html
*.log
